# pandas-datareader로 차트 데이터 획득하기

https://pandas-datareader.readthedocs.io/en/latest/

In [1]:
!pip install pandas_datareader
import pandas_datareader.data as web
df = web.DataReader(
    '005930',
    'naver',
    start='2021-12-01',
    end='2021-12-31'
)
df.head()

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.5/109.5 kB 6.7 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from pandas_datareader) (1.5.2)
Requirement already satisfied: lxml in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: requests>=2.19.0 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: certifi>=2017.4.17 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (1.26.14)
Requirement already satisfied: six>=1.5 in /Users/yangwoolee/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0

             Open   High    Low  Close    Volume
Date
2021-12-01  72000  74800  71600  74400  21954856
2021-12-02  73900  75800  73800  75800  23652940
2021-12-03  75600  76000  74100  75600  18330240
2021-12-06  75100  76700  74900  76300  16391250
2021-12-07  76100  77700  75600  77400  19232453

In [3]:
import pandas_datareader.data as web
df = web.DataReader(
    '005930.KS',  # 코스피: KS, 코스닥: KQ
    'yahoo',
    start='2021-12-01',
    end='2021-12-31'
)
df.head()

             High    Low   Open  Close    Volume  Adj Close
Date
2021-12-01  74800  71600  72000  74400  21954856      74400
2021-12-02  75800  73800  73900  75800  23652940      75800
2021-12-03  76000  74100  75600  75600  18330240      75600
2021-12-06  76700  74900  75100  76300  16391250      76300
2021-12-07  77700  75600  76100  77400  19232453      77400