In [33]:
%reload_ext autoreload
%autoreload 2
from quantylab.rltrader import data_manager


chart_data, training_data = data_manager.load_data("BTCUSDT", date_from='20221101090000', date_to='20221104090000', ver='v9')
training_data

1667260800000.0 1667520000000.0

,date,open,high,low,close,volume,quote_volume,number_of_trades,taker_buy_quote_volume,taker_sell_quote_volume
0,1667260800000,20490.74,20492.93,20490.50,20491.94,5.51478,113005.571215,152,20517.230326,92488.340890
1,1667260801000,20491.05,20492.15,20490.00,20491.99,8.99849,184386.695113,125,54199.188766,130187.506347
2,1667260802000,20491.36,20493.00,20489.99,20491.62,32.96660,675494.527305,165,544899.051530,130595.475775
3,1667260803000,20491.00,20491.54,20490.80,20491.45,0.93373,19133.452664,31,18992.475634,140.977030
4,1667260804000,20491.45,20492.99,20490.77,20491.00,4.31976,88519.671208,105,67636.175942,20883.495266
...,...,...,...,...,...,...,...,...,...,...
259141,1667519996000,20207.59,20207.68,20207.11,20207.11,0.06455,1304.401895,7,1175.075257,129.326638
259142,1667519997000,20207.20,20209.45,20207.20,20208.10,2.03268,41077.168639,60,41036.552159,40.616480
259143,1667519998000,20208.06,20208.12,20207.32,20207.40,2.82580,57102.994292,39,27.078487,57075.915806
259144,1667519999000,20207.94,20207.94,20207.06,20207.82,0.68555,13853.039404,52,1503.467541,12349.571864
259145,1667520000000,20207.12,20209.54,20206.72,20207.61,15.29844,309149.478730,190,256406.632835,52742.845894